body {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding: 0;
    margin: 0;
}

#output {
    margin: 5px 0 0 5px; 
}

body.portrait #output {
    width: 315px;
}

body.landscape #output {
    width: 475px;
}

.node,
.node-prefix,
.node-midfix,
.node-postfix
{
    line-height: 1.4;
    height: 34px;

    float: left;
}

.node {
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;

	background-color: #a3c2eb;
    
    color: #255594;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0;
    
    margin: 0 5px 5px 0;
}

.node-prefix {
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-bottomleft: 17px;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;

	background-color: #a3c2eb;
}

.node-postfix {
    -moz-border-radius-topright: 17px;
    -moz-border-radius-bottomright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-right-radius: 17px;

	background-color: #cedff5;

    max-width: 250px;
    overflow: hidden;
}

.node-midfix {
	color: #cedff5;
	background-color: #255594;
    text-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0;
}

.node-content {
    clear: both;
    padding: 5px 0 0 5px;
    margin: 0 5px 5px 0;
    border: 1px solid #a3c2eb;
    -moz-border-radius-bottomleft: 17px;
    -webkit-border-bottom-left-radius: 17px;
    -moz-border-radius-bottomright: 17px;
    -webkit-border-bottom-right-radius: 17px;
}

body.portrait .node-content {
    width: 305px;
}

body.landscape .node-content {
    width: 465px;
}

.current-node {
    clear: both;
    margin-bottom: 0;
}

.current-node,
.current-node .node-prefix {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
}

.current-node .node-postfix {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
